/*Página del gradiente: uigradients
Link del gradiente usado: https://uigradients.com/#Virgin
*/
body {

  position: relative;
  width: 390px;
  height: 950px;
  top: 350px;  /*Posición de arriba hacia abajo*/
  left: 700px; /*Posición de izquierda a derecha*/

  background: linear-gradient(180deg, #E68804 0%, #D14A3B 100%);

  /*
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
